{% extends 'main.html' %}

{% block content %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 4fr;
    }
</style>

<main class="layout layout--3">
    <div class="container homepage">

        <!-- Topics Start -->
        {% include 'base/topics_component.html' %}
        <!-- Topics End -->


         <!-- Room List Start -->
        {%include 'base/feed_component.html' %}
        <!-- Room List End -->

    
        <!-- Activities Start -->
        {% include 'base/activity_component.html' %}
        <!-- Activities End -->
        
    </div>
</main>


{% endblock content %}