{% extends 'main.html' %}

{% block content %}

<main class="profile-page layout layout--2">
    <div class="container">
        <div class="room">

            <div class="room__top">
                <div class="room__topLeft">
                    <h3>Study Room</h3>
                </div>
                {% if room.host == request.user %} 
                <div class="room__topRight">
                    <h3>Edit</h3>
                </div>
            {% endif %}
            </div>

            <div class="room__box scroll">
                <div class="room__header">
                    <div class="room__info">
                        <h3>{{room.name}}</h3>
                        <span>{{room.created|timesince}} ago</span>
                    </div>
                    <div class="room__hosted">
                        <p>Hosted By : <span>@{{room.host.username}}</span></p>
                    </div>
                </div>
                <div class="room__conversation">
                    <div class="threads scroll">
                        {% for message in room_messages %}
                            <div class="thread">
                                <div class="thread__top">
                                    <div class="thread__author">
                                        <span>@{{message.user.username}}</span>
                                        <span>{{message.created|timesince}} ago</span>
                                    </div>
                                    {% if request.user == message.user %}  
                                        <div class="thread__delete">
                                                Remove
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="thread__details">
                                    {{message.body}}
                                </div>
                            </div>

                        {% endfor %}
                    </div>
                </div>

                <div class="room__message">
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="text" name="body" placeholder="Write your message here..." />
                    </form>
                </div>


            </div>
        </div>

        <div class="participants">
            <h3 class="participants__top">Participants <span>({{participants.count}} Joined)</span></h3>
        </div>
    </div>

</main>





{% endblock content %}